<div class="container">

	<ul>
		<li>{{#link-to 'sample'}} sample link {{/link-to}}</li>
		<li>{{#link-to 'helper-test'}} helper sample {{/link-to}}</li>
		{{#each}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	

</div>